* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  overflow: auto;
}

/* nav start */
.nav {
  background-color: aliceblue;
  overflow: hidden;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-between;
}
.nav .logo {
  height: 100%;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .links {
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav .links a {
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav .links a.active {
  background-color: orange;
  color: white;
}
.nav .links a:hover {
  background-color: orange;
  color: white;
}
.nav .icons {
  height: 100%;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav .icons img {
  height: 30px;
  width: 30px;
  margin: 20px;
}

/* nav end */
/* Content start */
.shop-upper {
  height: fit-content;
  padding: 1rem;
}
.shop-upper .shop-upper-links {
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 5px solid grey;
}
.shop-upper .shop-upper-links a {
  height: 100%;
  padding: 1rem;
  color: black;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  border-bottom: 0px solid white;
  transition: all 0.2s ease-out;
}
.shop-upper .shop-upper-links a:hover {
  color: orange;
  border-bottom: 5px solid orange;
}

.common {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
}
.common .card {
  height: fit-content;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  flex-direction: column;
  gap: 0.5em;
  background-color: aliceblue;
  border-radius: 0.5rem;
}
.common .card img {
  height: 15rem;
  width: 16rem;
}
.common .card h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}
.common .card button {
  height: 4em;
  width: 10em;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
.common .card button:hover {
  cursor: pointer;
  color: orange;
}

/* Content end */
/*  footer start  */
.footer {
  height: fit-content;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
}
.footer .footer-holder-1 {
  height: 20rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  background-color: transparent;
  flex: 1;
  padding: 1rem;
}
.footer .footer-holder-1 h1 {
  font-weight: 500;
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
  color: white;
}
.footer .social-media {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: row;
  background-color: transparent;
  width: 80%;
  gap: 1rem;
}
.footer .social-media img {
  height: 40px;
  width: 40px;
}
.footer .social-media img:hover {
  cursor: pointer;
}
.footer .footer-holder-2 {
  height: 20rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  background-color: transparent;
  flex: 1;
  padding: 1rem;
}
.footer .footer-holder-2 h1 {
  font-weight: 900;
  font-size: 2.5rem;
  font-family: "Kanit", sans-serif;
  color: white;
}
.footer .footer-holder-2 a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}
.footer .footer-holder-2 a:hover {
  color: orange;
}
.footer .footer-holder-2 a.active {
  color: orange;
}
.footer .footer-holder-3 {
  height: 20rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  background-color: transparent;
  flex: 1;
  padding: 1rem;
}
.footer .footer-holder-3 h1 {
  font-weight: 900;
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
  color: white;
}
.footer .footer-holder-3 .search-2 {
  width: 90%;
  height: 4rem;
  display: flex;
  justify-content: center;
}
.footer .footer-holder-3 .search-2 input {
  display: flex;
  flex: 1;
  padding: 1rem;
  font-family: "Kanit", sans-serif;
  outline: none;
  border: none;
  border-color: black;
}
.footer .footer-holder-3 .search-2 button {
  width: 5rem;
  background-color: orange;
  color: white;
  border: none;
}
.footer .footer-holder-3 .search-2 button :hover {
  cursor: pointer;
}

/* footer end *//*# sourceMappingURL=shop.css.map */